[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "operators"]
	path = operators
	url = https://github.com/romainfrancois/operators
